.card-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 90%;
}
.card {
	width: 200px;
	height: 250px;
	background: $card-bg;
	border-radius: 15px;
	margin-right: 30px;
	margin-top: 30px;
	margin-left: auto;
	position: relative;
	transition: all .25s;
	cursor: pointer;
	&:hover {
		transform: scale(.99);
	}
}

.card__price {
	background: #eee;
	position: absolute;
	top: 2px;
	left: 3px;
	margin: 0 auto;
	border-radius: 15px;
	padding: 5px;
	transition: all .25s;
}
.card__name {
	position: absolute;
	bottom: 60px;
	width: 99.5%;
	text-align: center;
	background-color: darken($card-bg, 10%);
	border-bottom: 1px dashed darken($card-bg, 20%);
	border-top: 1px dashed darken($card-bg, 20%);
}
.card__id {
	position: absolute;
	bottom: 26px;
	height: 33px;
	width: 99.5%;
	text-align: center;
	background-color: darken($card-bg, 10%);
	border-bottom: 1px dashed darken($card-bg, 20%);
	border-top: 1px dashed darken($card-bg, 20%);
}
.card__category {
	position: absolute;
	bottom: 0px;
	border-radius: 0 0 10px 15px;
	width: 100%;
	text-align: center;
	background-color: darken($card-bg, 10%);
}


