.card-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 1200px;
}
.card {
	width: 250px;
	height: 250px;
	// background: $card-bg;
	border-radius: 15px;
	margin-top: 30px;
	margin-right: 40px;
	margin-bottom: 70px;
	position: relative;
	transition: all .25s;
	cursor: pointer;
	&:hover {
		transform: scale(.98);
	}
}

.card__price {
	background: #eee;
	position: absolute;
	top: 5px;
	left: 75px;
	margin: 0 auto;
	border-radius: 15px;
	padding: 5px;
	transition: all .25s;
}
.card__name {
	width: 100%;
	border-bottom: 1px dashed darken($card-bg, 20%);
	border-radius: 10px 15px 0 0;
}
.card__id {
	width: 100%;
	border-bottom: 1px dashed darken($card-bg, 20%);
}
.card__category {
	border-radius: 0 0 10px 15px;
	width: 100%;
}
.card__img {
	height: 100%;
}

